.primary {
    width: 100%;
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.primary:hover {
    cursor: pointer;
    background-color: var(--light-red);
}
.primary:active {
    background-color: var(--dark-red);
}
.primary:disabled {
    background-color: var(--lightest-grey-secondary);
    color: var(--lightest-grey-primary);
}