:root {
    --dark-grey: #303030;
    --grey: #707070;
    --light-grey: #9C9C9C;
    --lightest-grey-primary: #D1D1D1;
    --lightest-grey-secondary: #F6F6F6;
    --dark-red: #C60E2E;
    --red: #E4163A;
    --light-red: #FF5761;
    --lightest-red: #FF768E;
    --blue: #344472;

    --small: 576px;
    --medium: 768px;
    --large: 992px;
    --extra-large: 1200px;
    --extra-extra-large: 1400px;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url('../assets/fonts/avenir/Avenir-Book.ttf'), format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url('../assets/fonts/avenir/Avenir-Medium.ttf'), format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url('../assets/fonts/avenir/Avenir-Black.ttf'), format('ttf');
    font-weight: 700;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.Toastify__toast {
    background: var(--light-red);
    color: white;
    font-family: 'Avenir', sans-serif;
    min-height: 40px;
    text-align: center;
}

a {
    text-decoration: none;
}