.secondary {
    background: none;
    color: var(--light-grey);
    border: 1px solid var(--light-grey);
    padding: 10px 60px;
    border-radius: 4px;
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transition: ease 0.4s;
}
.secondary:hover {
    cursor: pointer;
    background-color: var(--lightest-grey-primary) ;
}

.secondary:active{
    background-color: var(--light-grey);
    border-color: var(--grey);
    color: var(--grey);
}

.secondary:disabled {
    background-color: var(--lightest-grey-secondary);
    color: var(--lightest-grey-primary);
}