.addItem__display {
    width: 100%;
    margin-top: 80px;
    padding: 30px 80px;
}

.display__wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

@media screen and (max-width: 768px) {
    .display__wrapper {
        grid-template-columns: 1fr;
    }
}

.leftBlock__heading {
    color: var(--grey);
}
.leftBlock__heading span {
    color: var(--red);
}


@media screen and (max-width: 1025px) {
    .addItem__display {
        padding: 30px 40px;
    }
}

@media screen and (max-width: 990px) {
    .addItem__display {
        padding: 30px 10px;
    }
}

.rightBlock__control {
    display: flex;
    justify-content: space-between;
}