.container {
    max-width: 1120px;
    margin: 45px auto;
    border: 1px solid var(--light-grey);
    border-radius: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
}

.info {
    display: flex;
    align-items: center;
}

.info span:nth-child(2) {
    margin: 0 5px;
    color: var(--light-grey);
}

.header span {
    color: var(--red);
}

.content {
    padding: 50px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(100deg, #707070 0%, #393939 100.28%);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: white;
}

.name {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 60px;
}

.centerBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    font-weight: 500;
    font-size: 18px;
}