.container {
    width: 30vw;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding: 0px 1rem 2rem 1rem;
    grid-column-start: 1;
    grid-column-end: 4;
     box-shadow: 10px 10px 21px rgba(122, 87, 87, 0.249),
     -10px -10px 21px #fff;
}
.container img {
    max-width: 100%;
}
.container h1 {
    color: var(--lightest-red);
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    margin-top: 1rem;
}
.container h3 {
    color: var(--grey);
    font-weight: 400;
    margin-top: 1rem;
}